DirectoryIndex index.php

RewriteEngine On

# If the requested file/folder exists, serve it directly
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Otherwise route to front controller
RewriteRule . index.php [L]
